<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- 扫描service 包下所有注解的类型 -->
    <context:component-scan base-package="org.seckill.service"/>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">

        <!-- 注入数据库连接池 -->
        <property name="dataSource" ref="dataSource"/>

    </bean>

    <!-- 配置基于注解的声明式事务
         默认使用注解来管理事务行为

         使用注解控制事务的优点：
         1.开发团队达成一致约定,明确标注事务方法的编程风格.
         2.保证事务方法的执行时间尽可能短,不要穿插其他网络操作RPC/HTTP请求或者剥离到事务方法外部.保证实务操作干净清晰.
         3.不是所有的方法都需要事务.如只有一条修改操作的，只读操作不需要事务控制。（mysql行级锁）

     -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

</beans>